@font-face {
  font-family: "avenir";
  src: url("fonts/AvenirLTStd-Book.otf");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "avenirB";
  src: url("fonts/AvenirLTStd-Black.otf");
  font-style: bold;
  font-weight: 100;
}
@font-face {
  font-family: "avenirI";
  src: url("fonts/AvenirLTStd-Roman.otf");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: "stein";
  src: url("fonts/Steinfeld DEMO.ttf");
  font-style: normal;
  font-weight: 100;
}
		#logout{
			font-size: 15px;
    font-family: 'avenirI';
    color: white;
    text-align: right;
    margin-top: -18px;
    margin-right: 20px;
		}

		#logut{
			background-color: #374785;
    border: none;
    font-family: avenir;
    font-size: 13px;
    font-color: white;
    color: white;
		}
p{
  margin: 0;
}
#grad{
  margin-top:30px;
}
    .pages-list-item{
      width:905px;
    }
#insta{
  grid-row: 1/2;
  margin-top: 5px;
  font-size: 30px;
}
body{
  background-color: #fff;
}
#top{
  background-color: #374785;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
#bottom{
  background-color: #374785;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
#topDesc{
  font-family: "avenirB";
  color:white;
  text-align: center;
  margin-top: 10px;
}
.title{
  font-family: "stein";
  font-size:30px;
  font-weight:200;
  letter-spacing:1px;
  text-align: center;
  color: white;
  line-height:1;
  margin-bottom:20px;
}
.description{
  font-family: "avenirI";
  margin-top: -15px;
  font-weight:200;
  text-align: center;
  color: white;
  line-height:1;
  margin-bottom:20px;
}
#container{
  width: 100%;
  margin-top:50px;
  height: 660px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 0;
}
#topleft{
  grid-column: 2/4;
  grid-row: 1/2;
  font-family: "stein";
  font-size: 50px;
  text-align: center;
  font-style:bold;
}
#topContainer{
  grid-row:2/3;
  grid-column: 2/4;
  display: grid;
  font-family: "avenir";
  font-size: 13px;
}
#left{
  font-size:30px;
  line-height: 80px;
color:#374785;
}
#right{
  margin-top: 8px;
  line-height: 20px;
}
#theinfo{
  grid-row:1/2;
grid-column:1/4;
  display: flex;
  justify-content: space-around;
}
#menu{
  grid-row:2/3;
grid-column: 1/4;
  height: 29px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  font-family: "avenirB";
  border-top: solid 3px;
  border-bottom: solid 3px;
border-radius:10px;
box-shadow: 1px 1px 8px #374785;
color:#374785;

}
#hme{
width:173px;
  line-height: 29px;
}
#hash{
width:173px;
  line-height:29px;

}

#caption{
width:173px;
  line-height:29px;
}
.dash{
  line-height: 29px;
}
#bodyContainer{
  font-family: "avenirB";
  grid-row:4/30;
  grid-column:2/4;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#bodyContainer::-webkit-scrollbar {
    display: none;
}

#whiteicon{
  width: 15px;
}



.cops{
  border:none;
  background: white;
  font-family: "avenir";
}
.cops1{
  border:none;
  background: green;
  font-family: "avenir";
}
.cops2{
  border:none;
  background: red;
  font-family: "avenir";
}
#home{
  border:none;
  background-color: #fff;
color:#717374;
    font-weight: 600;
}
#home:hover{
color: #374785;

}
#hashtag{
  border:none;
  background-color: #fff;
    font-weight: 600;
color:#374785;
}
#hashtag:hover{
color: #374785;

}
#captionB{
  border:none;
  background-color: #fff;
color:#717374;
    font-weight: 600;
}
#captionB:hover{
color: #374785;

}

.tageo::-webkit-scrollbar {
  display: none;
}
		#theforms{
		grid-column:2/5;
		grid-row:1/2;
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		}
		#searchBar{
		grid-column: 2/5;
		grid-row:1;
		border: solid 2px black;
		background-color: white;
		color:black;
		text-align: center;
		font-family: "avenir";
		border-radius: 10px;
		}
		#srch{
		grid-column: 5;
		grid-row:1;
		border: none;
		background-color: #374785;
		color:white;
		font-family: "avenir";
		border-radius: 10px;
		width: 40px;
		margin-left: 10px;
		}
	#searchs{
		margin-top:10px;
		height:30px;
		grid-row:3;
		grid-column: 2/4;
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
	}
	#tagBag{
		grid-column:1/2;
		grid-row:1;
  background-color: #fff;
  border:none;
  font-family: "avenirB";
  color: #374785;
  text-align: center;
    line-height: 25px;
    font-size: 13px;
}
.captions{
  font-family: "avenir";
  margin-top:5px;
  border-top:dotted 3px #374785;
  border-bottom:dotted 3px #374785;
  height:340px;
  grid-column: 1/5;
  grid-row: 3/30;
  overflow-y:scroll;
}
.captions::-webkit-scrollbar {
    display: none;
}
#tables{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  font-family: "avenir";
}
#tabless{
	grid-column:1/5;
	grid-row:2;
  text-align: center;
  border: solid 1px;
  width: 100%;
  border-collapse: collapse;
  font-family: "avenir";
  margin-top:3px;
}
#to{
	font-family: "avenirB";
	border: solid 1px white;
	border-radius:10px;
  background: #374785;
  color: white;
  height: 30px;
  width: 523px;  font-size: 15px;
}
.td{
	font-family: "avenirB";
  height: 30px;
  width:425px;
  font-size: 15px;

}
th{
	font-family: "avenirB";
	font-size: 15px;
  border: solid 1px white;
  background: #374785;
  color: white;
  height: 30px;
	border-radius:10px;
}
td{
  border-bottom: dotted 2px #374785;
  line-height: 30px;
}
#tags{
  z-index: 2;
      position: fixed;
    width: 688px;
        margin-left: 335px;
  grid-column: 2/4;
  grid-row: 1/3;
  border: solid 3px #374785;
  border-radius:10px;
  background-color: #fff;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  filter: drop-shadow(0 0 0.75rem  #374785);
}
#cTittle{
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: center;
  font-family: "avenirI";
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 35px 40px;
}
#titleIn{
  height:32px;
  width:560px;
  text-align: center;
  margin-top:3px;
  margin-left: 10px;
  border:none;
  grid-column:1/4;
}
#titleIn:focus{
  outline: none;
}
#add{
  border:none;
  border-radius: 3px;
  color:white;
  background-color: #29a659;
  font-family: "avenir";
  font-size: 14px;
  width:33px;
  height: 30px;
  font-weight:800;
  grid-column: 4;
    margin-top: 3px;
}
.closeds{
  border:none;
  border-radius: 3px;
  color:white;
  font-family: "avenir";
  font-size: 14px;
  width:33px;
  height: 30px;
  font-weight:800;
  grid-column: 5;
  margin-top: 3px;
  line-height:26px;

}
#close{
  border:none;
  border-radius:10px;
  background-color:#fff;
  font-family: "avenirB";
  float:right;
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: right;
  margin-top:5px;
  height:20px;
}
#lists{
  grid-row:2/40;
  grid-column: 1/5;
  border-top:dotted 3px #374785;
  display: grid;
  grid-template-rows: 1fr;
}
#tagForm{
  width: inherit;
  display:grid;
  grid-template-rows: 1fr;
  overflow-x: scroll;
  grid-template-columns: 135px 135px 135px 135px 135px;

}
#tagForm::-webkit-scrollbar {
  display: none;
}
.items{
  grid-row:1;
  border:solid 1px #fff;
  color:white;
  text-align: center;
  font-size:12px;
  margin-top:9px;
  margin-left: 5px;
  margin-bottom: 5px;
  width:130px;
  background-color: #374785;
  border-radius: 7px;
  height:126px;
}
.tagsInfo{
	z-index: 2;
	position:absolute;
	border-radius:10px;
  grid-column: 1;
  grid-row: 1/4;
  width: 320px;
  height: 240px;
  border: solid 3px #374785;
  background-color: #fff;
  display: none;
  grid-template-columns: 1fr 1fr;
}
.exTitle{
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  font-family: "avenirI";
  background:#374785;
  display:grid;
  grid-template-columns: 1fr 40px 40px;
  grid-template-rows:1fr;
}
.exDelete{
	border: none;
    border-radius: 10px;
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-family: "avenirI";
    background: #db4047;
    margin-top: 8px;
    height: 40px;
    width: 320px;
    color: white;
    filter: drop-shadow(0 0 0.75rem grey);
}
.tagAd{
	grid-row: 2;
  height:30px;
  text-align: center;
  margin-top:3px;
  margin-bottom:3px;
  width:224px;
  border:none;
  color:white;
  background-color:#374785;
  grid-column:1;
  grid-row:1;
}
.tagAd:focus{
  outline: none;
  color:white;
}
.tagAd::placeholder{
  color:white;
  opacity:0.5;
}
.plus{
	border:none;
  border-radius: 3px;
  color:white;
  background-color: #29a659;
  font-family: "avenir";
  font-size: 14px;
  width:35px;
  height: 30px;
  font-weight:800;
  grid-column:2;
  grid-row:1;
  margin-top:3px;
}
.cerrar{
	border:none;
  border-radius: 3px;
  color:white;
  background-color: #db4047	;
  font-family: "avenir";
  font-size: 14px;
  width:35px;
  height: 30px;
  font-weight:800;
  grid-column:3;
  grid-row:1;
  margin-top:3px;
  line-height:29px;
}
th.sorted.ascending:after {
	content: "      \2191";
}

th.sorted.descending:after {
	content: " \2193";
}
.moreInfo{
				font-family: "avenir";
				background-color: white;
				border-color: #374785;
				width: 1000px;
        width: 927px;
    height: 550px;
    position: fixed;
    margin-top: 30px;
    margin-left: 77px;
				border-radius: 10px;
				z-index: 100;
				overflow-y: scroll;
				animation: fadeIn 0.5s;
				display:grid;
				grid-template-rows: 1fr 1fr 1fr 1fr;
				box-shadow: 10px 10px 10px black;
			}
			.moreInfo::-webkit-scrollbar {
				display: none;
			}
			.close{
				margin-right: 5px;
				background:#374785;
				border:none;
				color: white;
				float:right;
			}
			.outClose{
				width:fill;
				background:#374785;
				position:sticky;
				top:0;
				grid-row: 1;

			}
			#backblack{
				opacity: 0.5;
				width: 100%;
				height: 100%;
				background: black;
				overflow:hidden;
				position:fixed;
				top:0;
				left:0;
				z-index: 99;
			}
            .tps0{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
            }
            .tps1{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps2{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps3{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps4{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps5{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
            }
            .tps6{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps7{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps8{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps9{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps10{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
            }
            .tps11{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps12{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps13{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            .tps14{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);

            }
            #tpss0{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            }
            #tpss1{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss2{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss3{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss4{
                grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss5{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss6{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss7{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            }
            #tpss8{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss9{
                grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            }           
            #tpss10{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss11{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            }
            #tpss12{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss13{
            grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            #tpss14{
                grid-column: 2/5;
            margin-left: 10px;
            text-align: justify;
            margin-right: 20px;
            overflow-wrap: break-word;
            }
            .theTop{
				font-family: "stein";
				grid-row:2;
				text-align:center;
				font-size: 30px;
				height: 73px;
			}
      .theTops{
				font-family: "stein";
				grid-row:2;
				text-align:center;
				font-size: 20px;
				height: 32px;
      }
      th.sorted.ascending:after {
	content: "      \2193";
}

th.sorted.descending:after {
	content: " \2191";
}
.moreInfos{
				font-family: "avenir";
				background-color: white;
				border-color: #374785;
        width: 305px;
    height: 337px;
    position: fixed;
    margin-top: 30px;
    margin-left: 1021px;
				border-radius: 10px;
				z-index: 100;
				animation: fadeIn 0.5s;
				display:grid;
        grid-template-rows: 0.1fr 0.1fr 4fr;
				box-shadow: 10px 10px 10px black;
			}
      #thetable{
        text-align:center;
}
#inTab{
  grid-row: 3;
  overflow-y: scroll;
}
#inTab::-webkit-scrollbar {
				display: none;
			}
      #ky{
        width: 200px;
      } 
      .pst{
        width: 100px;
      }
   		@media only screen and (max-width: 600px) {
        #home{
  border:none;
  background-color: #fff;
color:#717374;
    font-weight: 600;
    font-size:10px;
}
#home:hover{
color: #374785;

}
#hashtag{
  border:none;
  background-color: #fff;
    font-weight: 600;
color:#374785;
font-size:10px;

}
#hashtag:hover{
color: #374785;

}
#captionB{
  border:none;
  background-color: #fff;
color:#717374;
    font-weight: 600;
    font-size:10px;

}
#captionB:hover{
color: #374785;

}
p{
  margin: 0;
}
.suggest{
    width: 130px;
    height: 30px;
    font-family: "avenirB";
    margin-top: 10px;
    color: black;
    background: azure;
    border: solid 1px;
    border-radius: 10px;
}
#grad{
  margin-top:30px;
}
#insta{
  grid-row: 2/4;
  margin-top: 5px;
  font-size: 25	px;
}
body{
  background-color: #fff;
}
#top{
  background-color: #374785;
  width: 412px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
}
#bottom{
  background-color: #374785;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 43px;
}
#topDesc{
  font-family: "avenirB";
  color:white;
  text-align: center;
  margin-top: 10px;
}
.title{
  font-family: "stein";
  font-size:15px;
  font-weight:200;
  letter-spacing:1px;
  text-align: center;
  color: white;
  line-height:1;
  margin-bottom:20px;
}
.description{
  font-family: "avenirI";
  margin-top: -15px;
  font-weight:200;
  text-align: center;
  color: white;
  line-height:1;
  margin-bottom:20px;
  font-size: 10px;
}
#container{
  width: 100%;
  margin-top:50px;
  height: 660px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#topleft{
  grid-column: 2/4;
  grid-row: 1/2;
  font-family: "stein";
  font-size: 50px;
  text-align: center;
  font-style:bold;
}
#topContainer{
  grid-row:2/3;
  grid-column: 1/4;
  display: grid;
  font-family: "avenir";
  font-size: 13px;
}
#left{
  font-size:20px;
  line-height: 80px;
color:#374785;
}
#right{
	font-size:10px;
  margin-top: 8px;
  line-height: 20px;
}
#theinfo{
  grid-row:1/2;
grid-column: 1/4;
  display: flex;
  justify-content: space-around;
}
#thefollows{
  text-align: center;
}
#menu{
	width:375px;
  grid-row:2/3;
grid-column: 1/4;
  height: 29px;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  font-family: "avenirB";
  border-top: solid 1px;
  border-bottom: solid 1px;
border-radius:10px;
box-shadow: 1px 1px 8px #374785;
color:#374785;

}
#hme{
width:173px;
  line-height: 29px;
}
#hash{
width:173px;
  line-height:29px;

}

#caption{
width:173px;
  line-height:29px;
}
.dash{
  line-height: 29px;
}
#bodyContainer{
  font-family: "avenirB";
  grid-row:4/30;
  grid-column:1/5;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: -10px;

}
#bodyContainer::-webkit-scrollbar {
    display: none;
}
#theforms{
		grid-column:2/5;
		grid-row:1/2;
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		}
		#searchBar{
		grid-column: 2/5;
		grid-row:1;
		border: solid 2px black;
		background-color: white;
		color:black;
		text-align: center;
		font-family: "avenir";
		border-radius: 10px;
		}
		#srch{
		grid-column: 5;
		grid-row:1;
		border: none;
		background-color: #374785;
		color:white;
		font-family: "avenir";
		border-radius: 10px;
		width: 40px;
		margin-left: 10px;
		}
	#searchs{
		margin-top:10px;
		height:30px;
		grid-row:3;
		grid-column: 1/5;
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
	}
	#tagBag{
		grid-column:1/2;
		grid-row:1;
  background-color: #fff;
  border:none;
  font-family: "avenirB";
  color: #374785;
  text-align: center;
    line-height: 25px;
    font-size: 13px;
}
.captions{
  font-family: "avenir";
  margin-top:5px;
  border-top:dotted 3px #374785;
  border-bottom:dotted 3px #374785;
  height:340px;
  grid-column: 1/5;
  grid-row: 3/30;
  overflow-y:scroll;
}
.captions::-webkit-scrollbar {
    display: none;
}
#tables{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  font-family: "avenir";
}
#tabless{
	grid-column:1/5;
	grid-row:2;
  text-align: center;
  border: solid 1px;
  width: 100%;
  border-collapse: collapse;
  font-family: "avenir";
  margin-top:3px;
}
#to{
	font-family: "avenir";
	border: solid 1px white;
	border-radius:10px;
  background: #374785;
  color: white;
  height: 30px;
  width: 523px;  font-size: 10px;
}
.td{
	font-family: "avenirB";
  height: 30px;
  width:425px;
  font-size: 15px;

}
th{
	font-family: "avenir";
	font-size: 9px;
  border: solid 1px white;
  background: #374785;
  color: white;
  height: 30px;
	border-radius:10px;
}
td{
  border-bottom: dotted 2px #374785;
  line-height: 30px;
}
#tags{
  z-index: 2;
      position: fixed;
    width: 367px;
  grid-column: 1/5;
  margin-left:0px;
  grid-row: 1/3;
  border: solid 3px #374785;
  border-radius:10px;
  background-color: #fff;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  filter: drop-shadow(0 0 0.75rem  #374785);
}
#cTittle{
  grid-row: 1/2;
  grid-column: 1/5;
  text-align: center;
  font-family: "avenirI";
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 35px 40px;
}
#titleIn{
  height: 32px;
    width: 265px;
    text-align: center;
    margin-top: 3px;
    margin-left: 12px;
    border: none;
    grid-column: 1/4;
}
#titleIn:focus{
  outline: none;
}
#add{
  border:none;
  border-radius: 3px;
  color:white;
  background-color: #29a659;
  font-family: "avenir";
  font-size: 14px;
  width:33px;
  height: 30px;
  font-weight:800;
  grid-column: 4;
    margin-top: 3px;
}
.closeds{
  border:none;
  border-radius: 3px;
  color:white;
  font-family: "avenir";
  font-size: 14px;
  width:33px;
  height: 30px;
  font-weight:800;
  grid-column: 5;
  margin-top: 3px;
  line-height:26px;

}
#close{
  border:none;
  border-radius:10px;
  background-color:#fff;
  font-family: "avenirB";
  float:right;
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: right;
  margin-top:5px;
  height:20px;
}
#lists{
  grid-row:2/40;
  grid-column: 1/5;
  border-top:dotted 3px #374785;
  display: grid;
  grid-template-rows: 1fr;
}
#tagForm{
  width: inherit;
  display:grid;
  grid-template-rows: 1fr;
  overflow-x: scroll;
  grid-template-columns: 135px 135px 135px 135px 135px;

}
#tagForm::-webkit-scrollbar {
  display: none;
}
.items{
  grid-row:1;
  border:solid 1px #fff;
  color:white;
  text-align: center;
  font-size:12px;
  margin-top:9px;
  margin-left: 5px;
  margin-bottom: 5px;
  width:130px;
  background-color: #374785;
  border-radius: 7px;
  height:126px;
}
.tagsInfo{
	z-index: 2;
	position:absolute;
	border-radius:10px;
  grid-column: 1;
  grid-row: 1/4;
  width: 320px;
  height: 240px;
  border: solid 3px #374785;
  background-color: #fff;
  display: none;
  grid-template-columns: 1fr 1fr;
}
.exTitle{
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  font-family: "avenirI";
  background:#374785;
  display:grid;
  grid-template-columns: 1fr 40px 40px;
  grid-template-rows:1fr;
}
.exDelete{
	border: none;
    border-radius: 10px;
    grid-row: 3;
    grid-column: 1/3;
    text-align: center;
    font-family: "avenirI";
    background: #db4047;
    margin-top: 8px;
    height: 40px;
    width: 320px;
    color: white;
    filter: drop-shadow(0 0 0.75rem grey);
}
.tagAd{
	grid-row: 2;
  height:30px;
  text-align: center;
  margin-top:3px;
  margin-bottom:3px;
  width:224px;
  border:none;
  color:white;
  background-color:#374785;
  grid-column:1;
  grid-row:1;
}
.tagAd:focus{
  outline: none;
  color:white;
}
.tagAd::placeholder{
  color:white;
  opacity:0.5;
}
.plus{
	border:none;
  border-radius: 3px;
  color:white;
  background-color: #29a659;
  font-family: "avenir";
  font-size: 14px;
  width:35px;
  height: 30px;
  font-weight:800;
  grid-column:2;
  grid-row:1;
  margin-top:3px;
}
.cerrar{
	border:none;
  border-radius: 3px;
  color:white;
  background-color: #db4047	;
  font-family: "avenir";
  font-size: 14px;
  width:35px;
  height: 30px;
  font-weight:800;
  grid-column:3;
  grid-row:1;
  margin-top:3px;
  line-height:29px;
}
th.sorted.ascending:after {
	content: "      \2191";
}

th.sorted.descending:after {
	content: " \2193";
}
.moreInfo{
  font-family: "avenir";
    background-color: white;
    border-color: #374785;
    width: 819px;
    width: 377px;
    height: 348px;
    position: fixed;
    margin-top: 11px;
    margin-left: 0px;
    border-radius: 10px;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: unset;
    animation: fadeIn 0.5s;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: 10px 10px 10px black;
    position:fixed;
			}
			.moreInfo::-webkit-scrollbar {
				display: none;
			}
			.close{
				margin-right: 5px;
				background:#374785;
				border:none;
				color: white;
				float:right;
			}
			.outClose{
				width: fill;
				background:#374785;
				position:sticky;
				top:0;
				grid-row: 1;
			}
      #outCloses{
				width:  380px;
				background:#374785;
				position:sticky;
				top:0;
				grid-row: 1;
			}
			#backblack{
				opacity: 0.5;
				width: 100%;
				height: 100%;
				background: black;
				overflow:hidden;
				position:fixed;
				top:0;
				left:0;
				z-index: 99;
			}
            .tps0{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps1{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps2{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps3{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps4{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps5{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps6{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps7{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps8{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps9{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps10{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps11{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps12{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps13{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            .tps14{
                display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: dotted 3px rgba(55, 71, 133, 0.3);
    width:380px;
            }
            #tpss0{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss1{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss2{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss3{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss4{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss5{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss6{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss7{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss8{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss9{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }           
            #tpss10{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss11{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss12{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss13{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            #tpss14{
              grid-column: 1/5;
    grid-row: 2;
    margin-left: 10px;
    text-align: justify;
    margin-right: 20px;
    overflow-wrap: break-word;
    font-size: 10px;
    width: 351px;
            }
            .theTop{
				font-family: "stein";
				grid-row:2;
				text-align:center;
        font-size: 20px;
    height: 39px;
    width: 372px;
			}
      .theTops{
				font-family: "stein";
				grid-row:2;
				text-align:center;
				font-size: 20px;
				height: 32px;
      }
      th.sorted.ascending:after {
	content: "      \2193";
}

th.sorted.descending:after {
	content: " \2191";
}
.moreInfos{
  font-family: "avenir";
    background-color: white;
    border-color: #374785;
    width: 268px;
    height: 206px;
    position: fixed;
    margin-top: 369px;
    margin-left: 4px;
    border-radius: 10px;
    z-index: 100;
    animation: fadeIn 0.5s;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 4fr;
    box-shadow: 10px 10px 10px black;
}
      #thetable{
        text-align:center;
}
#inTab{
  grid-row: 3;
  overflow-y: scroll;
}
#inTab::-webkit-scrollbar {
				display: none;
			}
      #ky{
        width: 200px;
      } 
      .pst{
        width: 100px;
      }
      .pages-list-item{
      width:365px;
    }
    #logout{
  font-size: 10px;
    font-family: 'avenirI';
    color: white;
    text-align: right;
    margin-top: -15px;
    margin-right: 25px;
		}

		#logut{
			background-color: #374785;
    border: none;
    font-family: avenir;
    font-size: 10px;
    font-color: white;
    color: white;
		}
    }